/* Exit Popup Content */

.exit-popup {
    margin-top: 0px;
    position: fixed;
    /*background: rgba(90,87,87,0.8);*/
    margin: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    display: none;
}


.exit-popup .modal {
	margin: 0;
    position: fixed;
    top: 50% !important;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 999999;
    display: flex;
    background: transparent;
    border: 0px;
    box-shadow: none;
    bottom: auto;
}

/* Modal Content */
.exit-popup .modal  .modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.exit-popup .modal  .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.exit-popup .modal .close:hover,
.exit-popup .modal close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

body{
	position: relative;
}




.snp-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0px;
    left: 0px;
    z-index: 9999;
    opacity: 0;
    background: #5A5757;
}

.snp-overlay-show {
    background-color: #5A5757;
    visibility: visible;
    opacity: 0.5;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}
.vpn-service .snp-bld-step-cont a:hover{
    opacity: 1;
}

.vpn-service .snp-bld-step-cont .snp-bld-step{
    padding: 0px;
    background: none;
}

.vpn-service .snp-bld-step-cont .snp-bld-step img{
    border-radius: 6px;
}



.snp-bld-step-cont.snp-bld-center {
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%)scale(1);
    -moz-transform: translateX(-50%) translateY(-50%)scale(1);
    -ms-transform: translateX(-50%) translateY(-50%)scale(1);
    transform: translateX(-50%) translateY(-50%)scale(1);
    transform:translateX(-50%) translateY(-50%) scale(1);
    position: fixed;
    z-index: 99999999;
    
}

.snp-bld-step{
    width: 900px;
    height: 499px;
    border-radius: 5px;
    background-color: #ffffff;
    background-image: url(https://1qelgi1nkh1arphqg277c3i1-wpengine.netdna-ssl.com/wp-content/uploads/2020/12/back2.webp),url(https://1qelgi1nkh1arphqg277c3i1-wpengine.netdna-ssl.com/wp-content/uploads/2020/12/back2.png);
    background-position: center center;
    background-repeat: repeat;
    padding:50px  43px;
    display: none;
}
.bld-el-img{
    border: 0px;
}
.bld-el-cont {
    border: 1px solid transparent;
    width: 453px;
    z-index: 100;
    margin-bottom: 29px;
}

.bld-el-cont  .bld-el p{
  text-align: left;
  margin: 0px;
  line-height: normal;
}
.bld-el-cont  .bld-el p span{
   color: #ffffff; 
   font-size: 40px;
   font-weight: 400 !important;
}
.bld-el-cont  .bld-el p span b{
    font-weight: 400 !important;
}

.bld-el-button{
    border: 1px solid transparent;
    width: 200px;
    height: 54px;
    z-index: 100;
    margin-top: 60px;
}

.bld-el-button .bld-el{
    outline: 0;
    color: #5e3ef8;
    font-family:Arial !important;
    font-size: 23px;
    font-weight: bold;
    border-style: none;
    border-width: 0px;
    border-radius: 50px;
    padding: 8px;
    background-color: #ffffff !important;
    background-position: center center;
    background-repeat: repeat;
    padding-left: 10px;
    width: 198px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
   
}

.snp-builder a:hover {
    opacity: 0.8;
    transition: all 0.3s ease 0s;
}


.bld-el-cont img{
  width: 98px;
}


@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }
    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}
@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }
    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}
.animatedFadeInUp {
    opacity: 0
}
.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}