/*@media (min-width: 1241px){
    body .container {
        max-width: 1240px !important;
    }
}*/
#intro .form-check-label {
    color: #EEF0F3;
    font-size: .8rem;
}
/*
.intro h1{
    font-weight: 600 !important;
    font-size: 50px !important;
    line-height: normal !important;
    margin: 0px !important;
}
#intro p:first-of-type{
    font-weight: 400 !important;
}
.intro p {
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: normal;
    margin-bottom: 35px;
} */
/*.name-search.word-generator{
    max-width: 862px;
    margin: 0 auto;
    position: relative;
}*/
.alert.fade {
    opacity: 1;
}
/*.name-search.word-generator .alert .alert-wrap{
    height: 56px;
    border-radius: 4px;
    background-color: #f3732194;
    line-height: 56px;
    margin-bottom: 10px;
    border: 1px solid #F37321;
    padding: 0 15px;
    text-align: left;
}*/
 .alert .alert-wrap span {
    font: 400 18px/54px "Inter","Open Sans",sans-serif;
    color: #fff;
}
@media (max-width: 767px){
    .alert .alert-wrap span  {
        font: 400 12px/50px "Work Sans",sans-serif!important;
        color: #fff;
    }
}
.alert .alert-wrap a {
    width: auto !important;
    height: auto !important;
    line-height: 56px !important;
    float: right;
    color: #fff;
    font-size: 26px;
    border: none;
    text-decoration: none;
}
.alert {
    height: 56px;
    border-radius: 4px;
    background-color: rgba(255,255,255,.2);
    line-height: 56px;
    margin-bottom: 25px;
    border: 1px solid rgba(255,255,255,.4);
    padding: 0 15px;
    text-align: left;
    opacity: 1;
}
/*.name-search.word-generator form {
    position: relative;
}
.name-search.word-generator form .input_group{
    display: inline-block;
}
.name-search.word-generator form .input_group_text{
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    display: none;
}*/
/*
.input-btn-wrap {
    display: flex;
    flex-direction: column;
}
 .input-btn-wrap .input-wrap{
    display: flex;
    width: 100%;
}
 .input-btn-wrap .input-wrap .input-group-text{
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    display: none;
}*/
@media (min-width: 768px){
  /*  .name-search.word-generator form .input-group{
        flex-wrap: nowrap;
    }*/
    /*.input-btn-wrap {
        position: relative;
        display: flex;
        width: 100%;
    }
   */
   /* #intro .name-search.word-generator form .inputMain{
        position: relative;
        flex: 1 1 auto;
        width: 1%;
        min-width: 0;
    }*/
}
/*@media (max-width: 767px){
    .name-search.word-generator form .input_group .input_group_text{
        position: absolute;
        height:69px;
        z-index: 999;
    }
    #intro .name-search.word-generator form .inputMain {
        border: none;
        padding-left: 85px !important;
        border-radius: 12px !important;
    }
    button.btn.generatorbtn {
        width: 100%;
        border-radius: 0.8rem !important;
        margin-top: 20px !important;
    }
}
*/
/* .name-search.word-generator form:before {
    position: absolute;
    color: #B1B1B1;
    transform: rotate(0deg);
    content: "";
    z-index: 1;
    left: 15px;
    font-size: 15px;
    top: 8px;
    width: 32px;
    height: 32px;
} */
/*@media (min-width: 768px){
    .name-search.word-generator form:before {
        left: 25px;
        font-size: 20px;
        top: 28px;
    }
}*/
/*#intro .name-search.word-generator form .inputMain{
    border: none;
    padding: 1.5rem;
    width: 78%;
    float: left;
}*/
/*#intro .name-search.word-generator form .generatorbtn {
    float: right;
}*/
/* .name-search.word-generator form .inputMain {
    width: 100%;
    border-radius:50px;
    height: 85px;
    padding: 10px 165px 10px 80px;
    color: #6B6B6B;
    font-size: 18px;
    outline: 0;
    background-color: #fff;
    font-family: "Inter","Open Sans",sans-serif;
    border: 1px solid #DFE5E8;
} */
/*.name-search.word-generator .switch-toggle .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}*/
/*.name-search.word-generator a.generatorbtn {
    color: #fff;
    width: 156px;
    position: absolute;
    top: 0;
    right: -1px;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    font-family: "Inter","Open Sans",sans-serif;
    padding: 0.9rem 3rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: transform .2s, background-color .2s, color .2s;
    border: none;
    color: #F4F5F7;
    background-color: #13BFA8;
    border-radius: 0.8rem;
    font-size: 0.9rem;
    z-index: 2;
}*/
/*@media (min-width: 768px){
    .name-search.word-generator a.generatorbtn{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}
*/
/*
.name-search.word-generator form .switch-toggle {
    float: right;
    position: relative;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px 0px;
    margin-top: 10px;
}*/
/*.name-search.word-generator form .switch-toggle p{
    padding: 0;
    font: 400 12px/30px "Inter","Open Sans",sans-serif;
    color: #666;
    line-height: 36px;
    display: inline-block;
    margin: 0 10px !important;
    font-size: 16px;
}
.name-search.word-generator form .switch-toggle .switch {
    position: relative;
    display: inline-block;
    width: 38px;
    height: 19px;
}
.name-search.word-generator form .switch-toggle .switch .slider.round {
    border-radius: 34px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.4s;
    background-color: #ccc;
    width: 50px;
}
*/
@media (max-width: 767px){
   /* .name-search.word-generator form .switch-toggle {
         margin-top:80px !important;
     }
     body .name-search.word-generator a.generatorbtn {
         width: 100% !important;
         top: 65px !important;
         font-size: 18px;
         border: none;
         display: block;
     }
    body .name-search .inputMain {
         font-size: 0.9rem;
     }*/
     /* .name-search.word-generator form .inputMain, .name-search.word-generator a.generatorbtn {
         height: 50px !important;
         line-height: 50px !important;
         border-radius: 50px !important;
     } */
    /* .name-search.word-generator form .inputMain{
        font-size: 12px;
         padding-left: 45px;
         padding-right: 15px;
         border-radius: 5px;
     } */
 }
.dropdown-menu[data-bs-popper] {
    left: auto;
    right: 0px;
}
.navbar-toggler:focus{
    box-shadow: none !important;
}
body.site-id-8{
    direction: rtl;
    unicode-bidi: embed;
}
body.site-id-8 .input-group{
    flex-direction: row-reverse;
}
body.site-id-8 .dropdown-menu[data-bs-popper] {
    left: 0;
    right: auto;
}
body.site-id-8 .form-check {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}
body.site-id-8  #intro .form-check-label{
    margin-left: 3rem!important;
    margin-right: 0px !important;
}
body.site-id-8  .form-switch .form-check-input{
    margin-right: -2em;
    margin-left: 0px !important;
}
body.site-id-8  footer{
    text-align: right;
}
body.site-id-8 #main-content .justify-content-center{
    justify-content: flex-start !important;
}
body.site-id-8  .navbar-brand{
    margin-right: 0px;
}
@media (min-width: 992px){
    body.site-id-8 .navbar-expand-lg .navbar-nav {
        margin-right: auto!important;
        margin-left: 0px !important;
    }
}
/*-----------------------------------name-search.word-generator-------------------------------------------*/
.name-search.word-generator{
    max-width: 862px;
    margin: 0 auto;
    position: relative;
}
.name-search.word-generator .generator-form .input_group{
    position: relative;
    margin: 0px;
}
.name-search.word-generator .generator-form .input_group input{
    position: relative;
    flex: 0 0 auto !important;
    display: inline-block;
    border-radius: 0rem;
    border: none;
    font-size: .9rem;
}
.generator-form .input_group .input_group_text{
    display: flex;
    align-items: center;
    padding: 0.375rem 1rem !important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    white-space: nowrap;
    background-color: #E9ECEF;
    border-top-left-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
    flex: 0 0 auto;
    width: 8.33333333%;
    justify-content: center;
}
@media (min-width: 786px){
    .name-search.word-generator .generator-form .input_group input{
        flex: 0 0 auto !important;
        width: 66.66666667% !important;
    }
    .name-search.word-generator .generator-form .input_group .input_group_text{
         padding: 0.375rem 0.75rem !important;
    }
}
.name-search.word-generator .generator-form .input_group .generatorbtn{
    padding:0rem 1.2rem;
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: transform .2s, background-color .2s, color .2s;
    border: none;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    color: #F4F5F7;
    height: 70px;
}
.name-search.word-generator .generator-form .form-check-label-gn{
    color: #EEF0F3;
    font-size: .8rem;
}
.name-search.word-generator .generator-form .form-check-input-gn {
    width: 2em;
    margin-left: -2.5em;
    height: 1em;
    background-image: url(../images/blue-icon.svg);
    background-position: left center;
    border-radius: 2em;
    transition: background-position .15s ease-in-out;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
    border: 1px solid rgba(0,0,0,.25);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}
/*.name-search.word-generator .generator-form .form-check-input-gn:checked {
    background-color: #2D92F7;
    border-color: #2D92F7;
}*/
.name-search.word-generator .generator-form .form-check-input-gn:checked {
    background-position: right center;
    background:#2d92f7 url(../images/white-icon.svg);
    background-repeat: no-repeat;
     border-color: #2D92F7;
}